@import 'var';
@import 'function';

.mdBanner {
  @include media('pad') {
    height: 400px !important;
  }

  @include media('phone') {
    height: 200px !important;
  }
}

.mdSeafoodSort {

  a {
    transition: $transition;

    &:hover {
      opacity: 0.8;
    }
  }
}

.mdRecipe {
  @include media('phone') {
    .in {
      padding: 0 !important;
    }
  }

  a {
    transition: $transition;

    &:hover {
      opacity: 0.8;
    }
  }

  .banner {
    .img {
      @include media('phone') {
        background-size: 100% auto !important;
      }
    }
  }

  &.Invertebrate {
    .banner {
      .img {
        @include media('phone') {

          height: 450px !important;
        }
      }
    }
  }

  &.food {
    .banner {
      .img {
        @include media('phone') {

          height: 390px !important;
        }
      }
    }
  }
}

//----彈跳動畫
@keyframes hover_Big {
  0% {
    top: 0;
  }

  25% {
    top: -15px;
  }

  50% {
    top: -10px;
  }

  100% {
    top: 0;
  }
}

.mdFrozenSeafood {
  .fish {
    li {
      a {
        img {
          position: relative;
          transition: $transition;
        }

        &:hover {
          img {
            position: relative;
            animation: hover_Big 0.5s linear forwards;
            -moz-animation: hover_Big 0.5s linear forwards;
            -webkit-animation: hover_Big 0.5s linear forwards;
            -o-animation: hover_Big 0.5s linear forwards;
          }
        }
      }
    }
  }
}